:root {
  --main-color: lemonchiffon;
  --dark-color: navy;
  --text-large: 2rem;
}

html {
  background: linear-gradient(navy, purple, black);
  width: 90%;
  height: 100%;
}


@media (max-width:840px) {
  html {
    background: navy;
  }

  #title {
    position: absolute;
    top: 90%;
    left: 50%;
  }
}

/*Fix the Problem When Title Breaks Below Screen*/
@media (max-width: 500px) {
  #title {
    margin-bottom: 200px;
  }
}

#title {
  color: var(--main-color);
  text-align: center;
  font-size: var(--text-large);
}
